<div class="container">
  <!-- ヘッダー -->
  <header class="header">
    <h1>子連れにやさしいお店がすぐ見つかる！</h1>
  </header>

  <!-- 検索フォーム -->
  <div class="search-box">
    <h2>かんたん検索</h2>
    <%= form_with url: search_stores_path, method: :get, local: true, data: { turbo: false } do |f| %>
      <div class="search-options">
        <div>
          <%= f.label :area, "エリア" %>
          <%= f.select :area, Store.areas.keys.map { |a| [I18n.t("activerecord.attributes.store.areas.#{a}", default: a), a] }, { include_blank: "すべて" }, class: "form-select" %>
        </div>

        <div>
          <%= f.label :category, "ジャンル" %>
          <%= f.select :category, Store.categories.keys.map { |c| [Store.new(category: c).category_i18n, c] }, { include_blank: "すべて" }, class: "form-select" %>
        </div>
      </div>

      <%= f.submit "検索", class: "btn btn-primary" %>
    <% end %>
  </div>

  <!-- 店舗リスト -->
  <div class="store-list">
    <h3>子どもと一緒のお出かけをもっと楽しく</h3>
    <div class="stores">
      <% @stores.each do |store| %>
        <div class="store">
          <img src="<%= store.image_url || 'https://via.placeholder.com/150' %>" alt="店舗画像">
          <p><%= store.store_name %></p>
          <p><%= store.category_i18n %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
