<%= form_with(model: [:admin, @store], local: true) do |f| %>
  <div class="mb-4">
    <%= f.label :store_name, "店舗名", class: "block font-bold" %>
    <%= f.text_field :store_name, class: "form-input w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <div class="mb-4">
  <%= f.label :category, "カテゴリー", class: "block font-bold" %>
  <%= f.select :category, Store.categories.keys.map { |c| [Store.new(category: c).category_i18n, c] }, {}, class: "form-select w-full border border-gray-300 rounded-md p-2" %>
</div>


  <div class="mb-4">
    <%= f.label :address, "住所", class: "block font-bold" %>
    <%= f.text_field :address, class: "form-input w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <div class="mb-4">
    <%= f.label :phone_number, "電話番号", class: "block font-bold" %>
    <%= f.text_field :phone_number, class: "form-input w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <div class="mb-4">
    <%= f.label :hours, "営業時間", class: "block font-bold" %>
    <%= f.text_field :hours, class: "form-input w-full border border-gray-300 rounded-md p-2" %>
  </div>

  <div class="mt-6">
    <%= f.submit "登録する", class: "btn btn-primary bg-blue-500 text-white px-4 py-2 rounded-md" %>
    <%= link_to "戻る", admin_stores_path, class: "btn btn-secondary ml-2 text-gray-700 underline" %>
  </div>
<% end %>

