<h1 class="text-2xl font-bold mb-4">店舗一覧</h1>

<div class="mb-4">
  <%= link_to '新規登録', new_admin_store_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
</div>

<div class="space-y-4">
  <% if @stores.present? %>
    <% @stores.each do |store| %>
      <div class="bg-white p-4 rounded-lg shadow-md">
        <p class="font-bold text-lg text-blue-500"><%= store.store_name %></p>

        <!-- 詳細情報を常に表示 -->
        <div class="mt-2 p-2 border border-gray-300 rounded-lg bg-gray-100">
          <p><span class="font-bold">カテゴリ:</span> <%= store.category_i18n %></p>
          <p><span class="font-bold">エリア:</span> <%= store.area_i18n %></p>
          <p><span class="font-bold">住所:</span> <%= store.address %></p>
          <p><span class="font-bold">電話番号:</span> <%= store.phone_number %></p>
          <p><span class="font-bold">営業時間:</span> <%= store.hours %></p>
          <p><span class="font-bold">個室:</span> <%= store.private_room_i18n %></p>
          <p><span class="font-bold">座敷:</span> <%= store.tatami_i18n %></p>
          <p><span class="font-bold">子供用椅子:</span> <%= store.kids_chair_i18n %></p>
          <p><span class="font-bold">ベビーカー入店:</span> <%= store.stroller_i18n %></p>
          <p><span class="font-bold">アレルギー対応メニュー:</span> <%= store.allergy_menu_i18n %></p>
          <p><span class="font-bold">キッズスペース:</span> <%= store.kids_space_i18n %></p>
          <p><span class="font-bold">おむつ交換台:</span> <%= store.diaper_changing_i18n %></p>
          <p><span class="font-bold">授乳室:</span> <%= store.nursing_room_i18n %></p>

          <!-- 編集・削除ボタン -->
            <div class="flex space-x-2">
          <%= link_to '編集', edit_admin_store_path(store),
                class: "bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600" %>
          <%= link_to '削除', admin_store_path(store), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: "bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-600">登録された店舗がありません</p>
  <% end %>
</div>
