<h2>ログインページ</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :login, "ユーザー名またはメールアドレス" %><br>
    <%= f.text_field :login, required: true, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<p><%= link_to "新規登録の方はこちら", new_user_registration_path, class: "btn btn-success" %></p>
